@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Transportes Tomasini</h1>
    <p class="lead">MicroSistema para llevar un itinerario de clientes y precios de productos de cada uno.</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Empesa Familiar</h2>
        <p>
            A cargo de Norberto Tomasini, mas de 20 años en el rubro, con el legado de su hijo David "El Flaco" Tomasini.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/norberto.tomasini">Conocelo al Beto &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.facebook.com/david.tomasini2">Conocelo al Flaco &raquo;</a></p>
    </div>

</div>
